
<div *ngIf="loading" class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div
    class="btn btn-primary"
    id="add-task-btn"
    data-bs-toggle="modal"
    data-bs-target="#add-user-modal"
  >
    + addUser
  </div>
<ul *ngIf="!loading && userList.length>0" id="user-list">
  
  <li *ngFor="let user of userList; let i = index">
    <div *ngIf="user.user_type_id != 1; else AdminHere">
      <a [routerLink]="['user', user.user_id]">
        <div><span>{{i}}.   </span>{{ user.user_name }}</div>
      </a>
    </div>
    <ng-template #AdminHere>
      <a routerLink="admin">
        <div>{{ user.user_name }}   <span class="admin-lable-btn ">Admin</span></div>
      </a>
    </ng-template>
  </li>
</ul>

<!-- add user modal -->
<div
  class="modal fade"
  id="add-user-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fill Task Details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addUserForm" (ngSubmit)="submitAddUserForm()">
          <mat-form-field class="container text-center" appearance="fill">
            <mat-label>User Name</mat-label>
            <input
              matInput
              placeholder="Enter  User name"
              formControlName="user_name"
            />
            <mat-error
              style="color: red"
              *ngIf="
                addUserForm.get('user_name')?.invalid &&
                addUserForm.get('user_name')?.touched
              "
              >invalid! User Name should not be empty</mat-error
            >
          </mat-form-field>

          <br />

          <label>Select Role : </label>
          <select type="number" formControlName="user_type_id">
            <option [value]="1">Admin</option>
            <option [value]="2">User</option>
          </select>

          <!-- <input
            style="display: none"
            matInput
            name="task_status_id"
            type="number"
            [value]="1"
            formControlName="task_status_id"
          /> -->

          <button
            mat-button
            color="primary"
            class="container text-center"
            data-bs-dismiss="modal"
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
