

#user-side-bar {
   box-shadow: 0px 0px 3px rgb(130, 104, 104);
   width: 20vw;
   border-radius: 0px 0px 12px 12px;
 }
 
 
 #side-and-lists {
   display: flex;
   flex-direction: row;
 }
 
 #listsORAdminComponent {
  
   width: 80vw;
   align-items: center;
   justify-content: center;
   border-radius: 0px 0px 12px 12px;
 
 }
 
 
 