<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Task Manager</title>
  </head>
  <body>
    <nav><app-nav-bar-main id="navbar"></app-nav-bar-main></nav>
    <h1>hello</h1>
    <div id="side-and-lists">
      <div id="user-side-bar">
        <app-users-side-bar></app-users-side-bar>
      </div>
      <div id="listsORAdminComponent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </body>
</html>
