.page-not-found {
    text-align: center;
    margin-top: 50px;
  }
  
  .page-not-found h1 {
    font-size: 48px;
    color: #f00; /* Red color for the heading */
  }
  
  .page-not-found p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .page-not-found a {
    text-decoration: underline;
    color: #007bff; /* Blue color for the link */
  }