<div id="row1">
  <ng-container *ngIf="user != null || user != undefined">
    <h3>User name : {{ user.name }}</h3>
  </ng-container>
  <div class="btn btn-primary" id="add-task-btn" (click)="openAddTaskDialog()">
    + addTask
  </div>
  <ng-template *ngIf="!loading && (user == null || user == undefined)">
    User Does not exist
  </ng-template>
</div>

<div *ngIf="loading" class="spinner-border text-primary" id="loading" role="status">
  <span class="sr-only">Loading...</span>
</div>

<ng-container *ngIf="!loading && user && user.taskList.length > 0">
  <div id="alltask">
    <div class="card column" id="todotask">
      <div class="card-title task-list-title text-center" id="todo-title">
        ToDO Tasks
      </div>
      <div *ngFor="let task of ToDoTaskList; index as i" id="todotasks">
        <div class="card-item task position-relative">
          <div class="task-title text-center">{{ task.title }}</div>
          <div class="task-content">{{ task.content }}</div>
          <br /><br />
          <div class="position-absolute bottom-0 end-0">
            <div class="btn btn-success" id="move-btn" (click)="localUpdateTaskStatus(task.id, 2)" value="2">
              &#x2192;
            </div>
          </div>
          <div class="position-absolute bottom-0" style="left: 50%">
            <i class="fa fa-trash" aria-hidden="true" (click)="deleteTask(task.id)"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="card column" id="inprogresstask">
      <div class="card-title task-list-title text-center" id="inprogress-title">
        InProgress Tasks
      </div>
      <div *ngFor="let task of InProgressTaskList; index as i" id="inprogresstasks">
        <div class="card-item task position-relative">
          <div class="task-title text-center">{{ task.title }}</div>
          <div class="task-content">{{ task.content }}</div>
          <br /><br />
          <div class="position-absolute bottom-0 start-0">
            <div class="btn btn-success" id="move-btn" (click)="localUpdateTaskStatus(task.id, 1)">
              &#x2190;
            </div>
          </div>
          <div class="position-absolute bottom-0 end-0">
            <div class="btn btn-success" id="move-btn" (click)="localUpdateTaskStatus(task.id, 3)">
              &#x2192;
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card column" id="inprogresstask">
      <div class="card-title task-list-title text-center" id="done-title">
        Done Tasks
      </div>
      <div *ngFor="let task of DoneTaskList; index as i" id="donetasks">
        <div class="card-item task position-relative">
          <div class="task-title text-center">{{ task.title }}</div>
          <div class="task-content">{{ task.content }}</div>
          <br /><br />
          <div class="position-absolute bottom-0 start-0">
            <div class="btn btn-success" id="move-btn" (click)="localUpdateTaskStatus(task.id, 2)">
              &#x2190;
            </div>
          </div>
          <div class="position-absolute bottom-0" style="left: 50%">
            <i class="fa fa-trash" aria-hidden="true" (click)="deleteTask(task.id)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!loading && user &&  user.taskList.length == 0">
  <h2 class="text-center">User does not have any Task yet please add Task</h2>
</ng-container>